.nav{
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
}

.btn {
    display: flex;
    background-color: rgba(255, 127, 80, 0.644);
    padding: 2px 2px 2px 2px;
    color: white;
    border: white;
    align-self: flex-end;
    border-radius: 50px;
    position:relative;
    top: 8px;
    right: 8px;
    justify-content: space-around;
}

.btn:hover{
    background-color: tomato;
    color: black;
    box-shadow: rgb(41, 16, 12);
}
.search {
    position: relative;
    display: flex;
    align-items: center;
}


.home {
    display: flex;
    background-color: transparent;
    padding: 2px 2px 2px 2px;
    color: white;
    border: white;
    align-self: flex-end;
    border-radius: 50px;
    position: absolute;
    justify-content: space-around;
    top: 8px;
    right: 8px;
}