.nav{
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)), url(https://st3.depositphotos.com/3687485/13673/v/600/depositphotos_136739692-stock-illustration-vector-illustration-of-different-dogs.jpg);
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    height: 35px;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.btn {
    display: flex;
    background-color: rgba(255, 127, 80, 0.644);
    padding: 2px 2px 2px 2px;
    color: white;
    border: white;
    align-self: flex-end;
    border-radius: 3px;
    margin-left: 5px;
    position:relative;
    top: 8px;
    right: 8px;
    justify-content: space-around;
}

.btn:hover{
    background-color: tomato;
    color: black;
    box-shadow: rgb(41, 16, 12);
}
.search {
    position: relative;
    display: flex;
    margin-top: 50px;
    align-items: center;
}


.home {
    display: flex;
    background-color: transparent;
    padding: 2px 2px 2px 2px;
    color: white;
    border: white;
    align-self: flex-end;
    border-radius: 50px;
    position: absolute;
    justify-content: space-around;
    top: 8px;
    right: 8px;
}